.selectbox {
  margin: 0 auto;
  position: relative;
  min-width: 20rem;
}

.selectbox select {
  display: none;
}

.selectbox_btn {
  padding: var(--tight-spacing);
  padding-right: 2rem;
  background-color: #fff;
  box-shadow: 0px 2px 6px -2px rgb(23 43 77 / 16%) !important;
  border-radius: 4px;
  border: 0.5px solid #dfe1e6;
  font-size: 1rem;
  font-weight: 500;
  color: #172b4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  height: 2.66rem;
}

.selection-active,
.selectbox_btn:focus,
.selectbox_btn:active,
.selectbox_btn:focus-visible {
  border: 1px solid var(--primary-subdued);
  outline: none;
}
.selectbox_btn img {
  position: absolute;
  right: var(--tight-spacing);
}

.selectbox_content {
  position: absolute;
  margin-top: var(--extra-tight-spacing);
  background-color: #fff;
  box-shadow: 0px 2px 7px 0px rgb(23 43 77 / 12%);
  border-radius: 4px;
  border: 0.5px solid var(--light-standard);
  width: 100%;
  z-index: 2;
  min-height: 4rem;
  max-height: 8.5rem;
  overflow: auto;
}

.selectbox_content.top {
  margin-bottom: var(--extra-tight-spacing);
  bottom: 100%;
}

.selectbox_content.bottom {
  margin-top: var(--extra-tight-spacing);
  top: 100%;
}


.selectbox_content .selectbox_item {
  padding: var(--tight-spacing) var(--base-tight-spacing);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  color: var(--dark-light);
  transition: all 0.2s !important;
}

.selectbox_content .selectbox_item:focus,
.selectbox_content .selectbox_item:hover {
  background-color: var(--primary-faint);
}

.selectbox_content .selectbox_item.select_active {
  background-color: var(--primary-faint);
}

.disable {
  background-color: #dfe1e6;
  color: #c1c7d0;
  cursor: not-allowed;
}
